@{
    ViewData["Title"] = "FAQ";
}


<div class='container' id="FAQ">

<h2>Perguntas Frequentes</h2>
<br>
<p>			
Por que devo usar formulários online em meu negócio fotográfico?
<br>
<br>
A coleta de informações sobre sessões, assinaturas de clientes e pagamentos não precisa estar limitada a papel e caneta. Em vez de enviar para seus clientes um contrato de fotografia, sessão ou liberação em PDF que estes terão de imprimir, assinar manualmente e digitalizar, você pode usar um contrato online que facilitará a vida deles e a sua. Você poderá então gastar o tempo economizado capturando imagens em vez de informações.
</p>
<br>
<p>
Quais formulários online fotógrafos devem utilizar?
<br>
<br>
Contratos de fotografia, acordos de sessão e formulários para liberação de modelos são necessários para delinear expectativas e proteger direitos autorais. Caso você ofereça impressões ou presentes fotográficos personalizados, use um formulário para pedidos que aceite pagamentos. Adicione um formulário para contato ou consulta ao seu portfólio para que clientes em potencial possam facilmente enviar mensagens para você. Solicite o feedback de seus clientes com pesquisas personalizadas. Saiba mais sobre como fotógrafos podem se beneficiar do uso de formulários online.
</p>
<br>
<p>
Como posso personalizar meus formulários?
<br>
<br>
Usando nosso Criador de Formulários com recurso arraste-e-solte, você pode criar seu formulário online do zero ou selecionar um modelo pronto e personalizá-lo como quiser.

O menu "Elementos do Formulário", à esquerda, o permite adicionar campos, processadores de pagamentos e widgets ao seu formulário. A partir daqui, você poderá criar um formulário avançado, permitindo-o processar pedidos de fotos, coletar assinaturas, aceitar pagamentos e receber feedback.

O ícone do rolo de pintura, à direita, abre o menu “Designer de Formulários”, permitindo-o alterar a aparência do seu formulário. Escolha cores e fontes que combinem com sua marca, adicione o logotipo do seu estúdio e carregue suas próprias fotos para criar um formulário online que represente perfeitamente seu negócio fotográfico.
</p>
<br>
<p>
Como posso compartilhar meus formulários com clientes?
<br>
<br>
Para incorporar seu formulário ao seu portfólio, selecione "Incorporar" na guia "Publicar", localizada na parte superior do Criador de Formulários. Copie e cole o código de incorporação fornecido ao HTML do seu website. Você também pode publicar seu formulário diretamente em sites de terceiros caso este esteja hospedado em plataformas como WordPress, Squarespace, Wix ou Blogger, ou caso queira adicionar um formulário à sua página do Facebook.

Jotform também fornece uma URL única para cada formulário. Você pode enviar este link por e-mail para clientes ou compartilhá-lo através de suas redes sociais para divulgar suas fotografias.
</p>
<br>
<p>
Como posso coletar assinaturas através do meu formulário?
<br>
<br>
Para coletar assinaturas eletrônicas online em seus contratos fotográficos, formulários de liberação, acordos de sessão e avisos de direitos autorais, basta adicionar um de nossos widgets para assinaturas — Smooth Signature, E-Signature, Iniciais, Adobe Sign ou DocuSign — ao seu formulário.
</p>
<br>
<p>
Com quais aplicativos posso me integrar?
<br>
<br>
Jotform oferece mais integrações do que qualquer outro criador de formulários online, permitindo que você crie os formulários mais eficientes para seu site de fotografias. Você pode encaminhar automaticamente as informações enviadas para seu software de CRM e listas de e-mail marketing, aceitar pagamentos através de gateways de pagamento populares, criar planilhas com o Planilhas Google e agendar eventos com o Google Agenda. Caso não encontre suas ferramentas favoritas em nossa lista de integrações, você pode criar uma integração Jotform personalizada usando o Zapier. Jotform está sempre buscando novas integrações, então volte sempre para conhecer recursos futuros!
</p>
</div>		
		
		

