@{
    ViewData["Title"] = "Sobre nós";
}



<div class='container' id="sobre o site">
	
	<h2>Sobre o nosso estabelecimento</h2>
	
	<p>O Nosso quiosque esta localizado na orla de Boa Viagem em Niterói no Rio de Janeiro.</p>
	<p>Trabalhamos com fotos impressas e com fotos digitais das belissimas paisagens da região.</p>
	<p>O estabelecimento é comandado pela nossa fotografa Shannon B. Martin, especialista em fotografia da vida animal.</p>
	<p>Venha fazer uma visita!</p>
</div>

<br>
<br>	

<div class="container">	
	<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d2143.869895857539!2d-43.13441302935991!3d-22.90578861288263!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e1!3m2!1sen!2sbr!4v1681650714154!5m2!1sen!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
		
		



