@{
    ViewData["Title"] = "Termos e Condições";
}



		<div class='container' id="Termos e condições da loja online">
			
			<h2>Termos e condições da loja online</h2>
			<p>	1 – OBJETO:
				<br>
				<br>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores ex eos qui tempora esse iusto repellendus ab odio. Nisi hic fugit mollitia! Quos ab, exercitationem consectetur aspernatur rem magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odit voluptatum soluta impedit facere, temporibus nesciunt blanditiis quisquam ducimus! Est cum provident repellendus magni quaerat voluptatum impedit assumenda temporibus animi!</p>

				<p>	2 – AGENDAMENTO DE ENSAIOS FOTOGRÁFICOS OU COBERTURA FOTOGRÁFICA DE EVENTOS
					<br>
					<br>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores ex eos qui tempora esse iusto repellendus ab odio. Nisi hic fugit mollitia! Quos ab, exercitationem consectetur aspernatur rem magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odit voluptatum soluta impedit facere, temporibus nesciunt blanditiis quisquam ducimus! Est cum provident repellendus magni quaerat voluptatum impedit assumenda temporibus animi!</p>

				<p>	3 – REAGENDAMENTO DE ENSAIO/EVENTO 
					<br>
					<br>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores ex eos qui tempora esse iusto repellendus ab odio. Nisi hic fugit mollitia! Quos ab, exercitationem consectetur aspernatur rem magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odit voluptatum soluta impedit facere, temporibus nesciunt blanditiis quisquam ducimus! Est cum provident repellendus magni quaerat voluptatum impedit assumenda temporibus animi!</p>

				<p>	4 – CANCELAMENTO DE COMPRA
					<br>
					<br>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores ex eos qui tempora esse iusto repellendus ab odio. Nisi hic fugit mollitia! Quos ab, exercitationem consectetur aspernatur rem magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odit voluptatum soluta impedit facere, temporibus nesciunt blanditiis quisquam ducimus! Est cum provident repellendus magni quaerat voluptatum impedit assumenda temporibus animi!</p>

				<p>5 – TAXA DE DESLOCAMENTO
					<br>
					<br>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores ex eos qui tempora esse iusto repellendus ab odio. Nisi hic fugit mollitia! Quos ab, exercitationem consectetur aspernatur rem magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odit voluptatum soluta impedit facere, temporibus nesciunt blanditiis quisquam ducimus! Est cum provident repellendus magni quaerat voluptatum impedit assumenda temporibus animi!</p>

				<p>	6 – CUMPRIMENTO DE DATA E HORÁRIO
					<br>
					<br>
				Lorem ipsum dolor sit, amet consectetur adipisicing elit. Consequatur asperiores ex eos qui tempora esse iusto repellendus ab odio. Nisi hic fugit mollitia! Quos ab, exercitationem consectetur aspernatur rem magni! Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia odit voluptatum soluta impedit facere, temporibus nesciunt blanditiis quisquam ducimus! Est cum provident repellendus magni quaerat voluptatum impedit assumenda temporibus animi!</p>



            
		</div>		
		
		

