/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
  float:left;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
  background-image: url('~/img/fundo.png') !important;
  
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
  margin-left: 25px;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
  background-image: url('~/img/fundo.png') !important;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
  margin-left: 220px;
  background-image: url('~/img/fundo.png') !important;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 20px; /* Vertically center the text there */
  overflow: hidden;
  background-color:rgb(0, 75, 4);
  margin-left: 5px;
  
}

.footer a{
  
  color: #f2f2f2;
  text-align: right;
  padding: 1px 2px;
  text-decoration: none;
  font-size: 13px;
  float: left;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

body {
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-image: url('~/img/fundo.png') !important;
 
  
}

/* Toggle Styles */

#viewport {
  padding-left: 250px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#content {
  width: 100%;
  position: relative;
  margin-right: 0;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
  background-image: url('~/img/fundo.png') !important;
  
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 

*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}



.wrapper .sidebar{
  background: rgb(0, 75, 4);
  position: fixed;
  top: 0;
  left: 0;
  width: 225px;
  height: 100%;
  padding: 20px 0;
  transition: all 0.5s ease;
}

.wrapper .sidebar .profile{
  margin-bottom: 30px;
  text-align: center;
}

.wrapper .sidebar .profile img{
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
}

.wrapper .sidebar .profile h3{
  color: #ffffff;
  margin: 10px 0 5px;
}

.wrapper .sidebar .profile p{
  color: rgb(0, 75, 4);
  font-size: 14px;
}

.wrapper .sidebar ul li a{
  display: block;
  padding: 13px 30px;
  border-bottom: 1px solid rgb(0, 75, 4);
  color: rgb(241, 237, 237);
  font-size: 16px;
  position: relative;
}

.wrapper .sidebar ul li a .icon{
  color: #dee4ec;
  width: 30px;
  display: inline-block;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
    color:rgb(0, 75, 4);

    background:white;
    border-right: 2px solid rgb(0, 75, 4);
}

.wrapper .sidebar ul li a:hover .icon,
.wrapper .sidebar ul li a.active .icon{
    color: rgb(0, 75, 4);
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
    display: block;
}

.topnav {
  overflow: hidden;
  background-color:rgb(0, 75, 4);
  line-height: 20px
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 10px;
  text-decoration: none;
  font-size: 17px;
  float: right;
  font-size: small;
}

.topnav a:hover {
  background-color: #ffffff;
  color: rgb(0, 75, 4);
}

.topnav a.active {
  background-color: rgb(0, 75, 4);
  color: white;
}

span{
  font-size:small 
}

.cp{
  font-size: small;
  text-align: center;
}





.container { 
  text-align: center; 
  margin-left: 100px;
  text-align: justify;
  margin-top: 50px;
}

p{
  color: rgb(0, 75, 4);
}

h2{
  color: rgb(0, 75, 4);
}
Label{
  color: rgb(0, 75, 4);
}


.linhacards{
  margin-left: 300px;
  margin-top: 200px;
  
  
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color: rgb(0, 75, 4) !important;
}

h5{
  color: rgb(0, 75, 4)
}




